<html>
<head>
    <title>Pagina principal</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
    <h1>SmarStyle</h1>
    <form method="POST">
        <a>
            <button name="inserir" id="inserir">inserir</button>
        </a>
        <a></a>
            <button name="exibir" id="exibir">exibir</button>
        </a>
    </form>
    <h2>Roupa de hoje:</h2>
    <div class="image-container">
        <img src="{{ acessorio }}">
    </div>
    <div class="image-container">
        <img src="{{ superior }}">
    </div>
    <div class="image-container">
        <img src="{{ inferior }}">
    </div>
    <div class="image-container">
        <img src="{{ calcado }}">
    </div>
</body>
</html>


