<html>
<head>
    <title>Pagina principal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Pixelify+Sans:wght@400;500;600&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/phome.css">
</head>
<body>
    <h1>SmarStyle</h1>
    <form method="POST">
        <a>
            <button name="inserir" id="inserir">inserir</button>
        </a>
        <a></a>
            <button name="exibir" id="exibir">exibir</button>
        </a>
    </form>
    <h2>Roupa de hoje:</h2>
    <div class="image-container">
        <img src="{{ acessorio }}">
    </div>
    <div class="image-container">
        <img src="{{ superior }}">
    </div>
    <div class="image-container">
        <img src="{{ inferior }}">
    </div>
    <div class="image-container">
        <img src="{{ calcado }}">
    </div>
</body>
</html>


