<html>
<head>
    <title>Add Roupa</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
    <form method="POST">
        <label for="category">Escolha a categoria:</label>
        <select id="categoria" name="categoria">
            <option value="acessorio">Acessorio</option>
            <option value="superior">Vestiemento superior</option>
            <option value="inferior">Vestimento inferior</option>
            <option value="calcado">Calcado</option>
        </select>
        <br>
        <input type="submit" value="Submit" name="enviar_categoria" id="enviar_categoria">
        <br>
        <a>
            <input name="home" type="submit" value="home"/>
        </a>
    </form>
</body>
</html>