<html>
<head>
    <title>Add Roupa</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Pixelify+Sans:wght@400;500;600&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/inserir.css">
</head>
<body>
    <form method="POST">
        <label for="category">Escolha a categoria:</label>
        <select id="categoria" name="categoria">
            <option value="acessorio">Acessorio</option>
            <option value="superior">Vestiemento superior</option>
            <option value="inferior">Vestimento inferior</option>
            <option value="calcado">Calcado</option>
        </select>
        <br>
        <input type="submit" value="Continuar" name="enviar_categoria" id="enviar_categoria">
        <br>
        <a>
            <input name="home" type="submit" value="Voltar"/>
        </a>
    </form>
</body>
</html>