<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <a href="cadastro.html"> <!-- vai pra pagina de cadastro -->
            <button>Cadastrar</button>
        </a>

        <input type="submit" value="Login">
    </form>
</body>
</html>